services:
  generator:
    build: .
    volumes:
      - ./:/app
    stdin_open: true
    tty: true
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - "9000:8000"
    restart: unless-stopped